.EditCoursePage__heading {
    color: #025918;
    font-size: 20px;
}

.EditCoursePage {
    color: black;
    border: 1px solid #4681A6;
    margin: 10px;
    margin-bottom: 25px;
    padding: 10px;
}

.EditCourse_form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.EditCoursePage_form {
    margin-bottom: 15px;
    display: block;
    width: 300px;
}

.EditCourse_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.EditCourse_commands, .EditCourse_commandsCancel {
    width: 100px;
    height: 30px;
    color: #025918;
    font-size: 15px;
    background-color: white;
    border: 1px #4681A6 solid;
    font-family: 'Merriweather', serif;
}

@media only screen and (min-device-width: 768px) {
    .EditCoursePage {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }
    .EditCourse_form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-flow: wrap;
    }
    .EditCourse_commandsCancel {
        margin-right: 200px;
    }
    .EditCourse_courseName {
        margin-right: 8px;
    }
    .EditCourse_courseLocation {
        margin-right: 8px;
    }
}

@media screen and (min-device-width: 1200px) {
    .EditCoursePage {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        font-size: 20px;
    }
    .EditCourse_form {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-flow: wrap;
    }
    .EditCourse_commandsCancel {
        margin-right: 250px;
    }
}